# Database credentials
src/main/resources/db.properties

# Maven build files
target/

# IDE files
.vscode/
.idea/

# Java compiled files
*.class
# React / Node
banking-react/node_modules/
banking-react/dist/
banking-react/.env
banking-react/.env.*